*{
    margin: 0;
    padding: 0;
}
body{
    background: #181818;
    color: #ffffff;
} 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    width: 100%;
    height: 50px;
}
